<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
        <html lang="pt-br" xml="http://thymeleaf.org"
              xml:layout="http://www.ultraq.net.nz/thymeleaf/layout">

        <head>
            <meta charset="UTF-8">
            <title>Details de travail</title>
            <link rel="shortcut icon" href="img/dv.jpeg">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        </head>
<body class="">
<h1>
<nav>
    <div class="nav nav-pills flex-column flex-sm-row">
        <p class="flex-sm-fill text-sm-center nav-link active justify-content-end "><b>Plus De Details Sur Notre Entreprise</b></p>
    </div>
</nav></h1>
 <h2>
    <div class="card-body">
        <p class=" text-center text-uppercase fst-italic"><br>Soyez les Bienvenue<br>Vous pouvez file et Quand vous aurez ce que vous cherchez ? <br> n'oubliez pas de click sur le link pour remplir le formulaire ou rentre en Contacter avec nous  </b></p>
        <br>
  <div class="card-body">
    <img src="img/dv.jpeg" class="card-img-top" alt="...">
      <img  class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsJbfd4Yub1VmN9TvUVIMrKhuMfoW5ydNcYQ&usqp=CAU">
    <div class="card-body">
        <p class="card-text fst-italic"><b>Debouchage domestique<br>Nettoyage domestique en general </b></p>
        <button type="button" class="btn btn-warning fst-italic"><a href="/travail"><b>click ici pour remplir le Formulaire ou rentre en Contact avec Entreprise</b></a></button>
    </div>
</div>
<div class="card-body" >
    <img src="img/sf.jpeg" class="card-img-top" alt="...">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdWyus3fexDL3m_7NBmpblOF4H2QwC_dLFLQ&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text fst-italic" ><b>Debouchage Fosses Septique <br>Nettoyage Fosses Septique en general </b></p>
        <button type="button" class="btn btn-warning fst-italic"><a href="/vidance"><b>click ici pour remplir le Formulaire ou en Contact avec Entreprise</b></a></button>
    </div>
</div>
<div class="card-body">
    <img src="img/st.jpeg" class="card-img-top" alt="...">
    <img src="https://lh3.googleusercontent.com/proxy/Rx-1GvtjfiJAXhoWVzPcB1sziIgwegxOxHdTuQ76JHar4OzaYcthNnQhnvuOFPAz2y3t4LUSSXiMTAM54DLYlqFPJGknllprO_bJZVkeME3A8zIidnUdB80hnUCfWw" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text fst-italic"><b>Debouchage Fosses Septique et de caniveaux <br>Nettoyage De caniveaux et Arrosage de Route</b></p>
        <button type="button" class="btn btn-warning fst-italic"><a href="/vidance"><b>click ici pour remplir le Formulaire ou rentre en Contact avec Entreprise</b></a></button>
    </div>
</div>
    <div class="card-body">

        <img src="img/va.jpeg" class="card-img-top" alt="...">
        <img src=" https://www.vidange-fosse-septique.net/wp-content/uploads/5470/prix-vidange-fosse-septique-toutes-eaux-5ef9f404a3771.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text fst-italic"><b>tous traveaux de batiment</b><br>24H/24 7jours / 7 </b><b>Nous Somme A votre Disposition !!!</b></p>
            <button type="button" class="btn btn-warning fst-italic"><a href="/vidance"><b>click ici pour remplir le Formulaire ou rentre en Contact avec Entreprise</b></a></button>
        </div>
    </div>
    <div class="card-body" >
        <img src="img/fs2.jpeg" class="card-img-top" alt="...">
        <img class="card-img-top" src="http://www.leroeulx.be/images/news/2020/wvaf3mww.jpeg/image_large">
        <div class="card-body">
            <p class="card-text fst-italic" ><b>Construction de Fosses Septique <br>Nettoyage Fosses Septique en General </b></p>
            <button type="button" class="btn btn-warning fst-italic"><a href="/travail"><b>click ici pour remplir le Formulaire ou en Contact avec Entreprise</b></a></button>
        </div>
    </div>
    <div class="card-body" >
        <img src="img/for.jpeg" class="card-img-top" alt="...">
        <img src="https://i0.wp.com/blog.bcredi.com.br/wp-content/uploads/2017/11/bcredi_projeto_casa_22_nov.png?resize=800%2C560&ssl=1" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text fst-italic" ><b>Contruction des chantier avec  Fosses Septique <br>Nettoyage des maison et Route </b></p>
            <button type="button" class="btn btn-warning fst-italic"><a href="/travail"><b>click ici pour remplir le Formulaire ou en Contact avec Entreprise</b></a></button>
        </div>
    </div>
    </div>
</h2>
<div class="card-body">
    <h3 class="text-center fst-italic"><p style="color: green"><b>Merci pour votre confiance / Nous Somme la pour vous Rendre heureux et propre</b></p></h3>
</div>
    <footer><a href="/index" class="badge btn-info text-uppercase fst-italic">Retour au principal</a></footer>




<!--Import jQuery before materialize.js-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>
</html>