<!DOCTYPE html>
<html lang="pt-br" xml:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>vidanceApplication</title>
    <link rel="shortcut icon" href="img/vdc.jpeg">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="container">
<h1>
    <nav class="">
     <p class="aria-current= page text-center fst-italic "><b>Etablissement NAPO Ets FRERES</b></p>
    </nav>
</h1>
<h2>
    <div class="">
        <p class=" text-center fst-italic" style="color:green"><b>vous avez etes cadastre avec succes !!!<br> merci une fois de plus pour votre confiance a notre etablissements</b><br><b>Nous vous reviendrons á tres bientôt</b></p>
        <p class=" text-center "><b>Email: allayegana78@gmail.com</b><br><b>+225 05654207 - +225 07285726</b><br><b>CIV VILLE:ABIDJAN,QUATIER:ABOBO,RUA: NOUCIS NUMERO:105 BP</b></p>
    </div>
    <table>

        <tbody th:each="compte: ${comptes}">
          <td style="color:red" class="text-uppercase">la somme de votre demande: <span th:text="${compte.prix}" ></span> FCFA</td>
          <td style="color:blue"  class="text-uppercase">Ton numero de matriculation: <span th:text="${compte.id}" ></span>NMEC</td>
        </tbody>
    </table>
         <p class="material-icons left" style="color:green">MERCI<i>done_all</i><p><a href="/index" class="badge btn-info text-uppercase fst-italic">Retour au principal</a></p></p>
</h2>

<!--Import jQuery before materialize.js-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>
</html>